/* Styles de base pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Styles pour l'en-tête global */
header {
    background: #fff;
    padding: 20px 10%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Styles spécifiques pour le titre principal dans l'en-tête */
header h1 {
    margin: 0;
    font-size: 32px;
    color: #2a2a2a;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    padding: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Styles pour la liste de navigation principale */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Styles pour chaque élément de liste dans la navigation */
nav ul li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}

/* Styles pour les liens dans la navigation */
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
}

/* Styles pour les menus déroulants au survol */
nav ul li.dropdown:hover .dropdown-content {
    display: block;
}

/* Styles pour le contenu du menu déroulant caché */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Styles pour les éléments de liste à l'intérieur des menus déroulants */
.dropdown-content li {
    display: block;
}

/* Styles pour les liens à l'intérieur des menus déroulants */
.dropdown-content li a {
    padding: 12px 16px;
    text-decoration: none;
    display:block;
    text-align: left;
    color: black;
}

/* Effet de survol pour les liens à l'intérieur des menus déroulants */
.dropdown-content li a:hover {
    background-color: #f1f1f1;
}

/* Styles généraux pour les sections de contenu */
section {
    padding: 20px 10%;
    text-align: center;
}

/* Styles pour la galerie d'images dans la section Portfolio */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.2s;
    opacity: 1;
}

.gallery img:hover {
    transform: scale(1.05); /* Zoom léger au survol */
}

.zoom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1050;
    cursor: pointer;
}

.zoom-overlay .prev,
.zoom-overlay .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
}

.zoom-overlay .prev {
    left: 0;
}

.zoom-overlay .next {
    right: 0;
}

.zoom-overlay .prev:hover,
.zoom-overlay .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.hidden {
    display: none;
}

/* Styles pour le pied de page */
footer {
    text-align: center;
    padding: 20px 0;
    background: #ddd;
}

/* Styles pour les liens des réseaux sociaux dans le pied de page */
.social-links {
    text-align: center;
    padding: 10px 0;
}

/* Styles pour les liens des réseaux sociaux dans le pied de page */
.social-links a {
    margin: 0 10px;
    color: #333;
    font-size: 24px;
    transition: color 0.3s ease;
}

/* Styles pour les liens des réseaux sociaux au survol et au focus */
.social-links a:hover, .social-links a:focus {
    color: inherit;
}

/* Styles spécifiques pour chaque icône */

/* Instagram */
.social-links a[href="https://www.instagram.com/AlexSouch/"]:hover,
.social-links a[href="https://www.instagram.com/AlexSouch/"]:focus {
    color: #bc2a8d;
}

/* Facebook */
.social-links a[href="https://www.facebook.com/votre_username/"]:hover,
.social-links a[href="https://www.facebook.com/votre_username/"]:focus {
    color: #1877f2;
}

/* Email */
.social-links a[href="mailto:alexandre.souchaud91@gmail.com"]:hover,
.social-links a[href="mailto:alexandre.souchaud91@gmail.com"]:focus {
    color: #ea4335;
}

/* LinkedIn */
.social-links a[href="https://www.linkedin.com/in/alexandre-souchaud-9a5b2111a/"]:hover,
.social-links a[href="https://www.linkedin.com/in/alexandre-souchaud-9a5b2111a/"]:focus {
    color: #0e76a8;
}

/* Styles adaptatifs pour les écrans plus petits */
@media (max-width: 768px) {
    .gallery img {
        width: 100%;
        margin-top: 10px;
    }
    header h1 {
        font-size: 24px;
        letter-spacing: 1px;
    }
    nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
    nav ul li a {
        padding: 10px;
    }
}
