/* Styles de base pour le corps de la page */
body {
    font-family: Arial, sans-serif; /* Définit le type de police pour le corps du document */
    color: #333; /* Couleur du texte par défaut */
    background: #f4f4f4; /* Couleur de fond de la page */
    margin: 0; /* Supprime la marge extérieure par défaut */
    padding: 0; /* Supprime le remplissage intérieur par défaut */
}

/* Styles pour l'en-tête global */
header {
    background: #fff; /* Fond blanc pour l'en-tête */
    padding: 20px 10%; /* Rembourrage autour du contenu de l'en-tête */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Ombre portée pour l'en-tête */
}

/* Styles spécifiques pour le titre principal dans l'en-tête */
header h1 {
    margin: 0; /* Aucune marge pour maintenir l'alignement propre */
    font-size: 32px; /* Taille de la police pour le titre */
    color: #2a2a2a; /* Couleur foncée pour le texte du titre */
    font-weight: bold; /* Rend le titre en gras */
    text-transform: uppercase; /* Transforme le texte en majuscules */
    letter-spacing: 3px; /* Espacement entre les lettres pour améliorer la lisibilité */
    text-align: center; /* Centre le texte dans l'en-tête */
    padding: 20px 0; /* Espacement vertical autour du titre */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Ombre légère pour le texte pour le démarquer */
}

/* Styles pour la liste de navigation principale */
nav ul {
    list-style: none; /* Supprime les puces de la liste */
    padding: 0; /* Aucun padding pour aligner strictement les liens */
    margin: 0; /* Aucune marge pour empêcher tout décalage indésirable */
}

/* Styles pour chaque élément de liste dans la navigation */
nav ul li {
    display: inline-block; /* Les éléments de la liste sont affichés en ligne mais peuvent avoir du padding et margin */
    position: relative; /* Nécessaire pour le positionnement des menus déroulants */
    margin-right: 20px; /* Espacement entre les éléments du menu */
}

/* Styles pour les liens dans la navigation */
nav ul li a {
    text-decoration: none; /* Supprime le soulignement des liens */
    color: #333; /* Couleur du texte des liens */
    font-weight: bold; /* Texte en gras pour les liens */
    padding: 10px; /* Rembourrage pour rendre les liens plus faciles à cliquer */
}

/* Styles pour les menus déroulants au survol */
nav ul li.dropdown:hover .dropdown-content {
    display: block; /* Affiche le contenu du menu déroulant lors du survol */
}

/* Styles pour le contenu du menu déroulant caché */
.dropdown-content {
    display: none; /* Cache par défaut le contenu du menu déroulant */
    position: absolute; /* Positionne absolument par rapport à son parent `li` */
    background-color: #f9f9f9; /* Fond clair pour le contenu déroulant */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Ombre pour le menu déroulant */
    z-index: 1; /* S'assure que le menu déroulant se situe au-dessus d'autres éléments */
}

/* Styles pour les éléments de liste à l'intérieur des menus déroulants */
.dropdown-content li {
    display: block; /* Chaque élément de liste prend toute la largeur disponible */
}

/* Styles pour les liens à l'intérieur des menus déroulants */
.dropdown-content li a {
    padding: 12px 16px; /* Rembourrage généreux pour faciliter le clic */
    text-decoration: none; /* Pas de soulignement pour ces liens */
    display:block; /* Les liens prennent toute la largeur du menu pour faciliter le clic */
    text-align: left; /* Alignement du texte à gauche */
    color: black; /* Texte noir pour une bonne lisibilité */
}

/* Effet de survol pour les liens à l'intérieur des menus déroulants */
.dropdown-content li a:hover {
    background-color: #f1f1f1; /* Changement de fond au survol pour indiquer l'élément actif */
}

/* Styles généraux pour les sections de contenu */
section {
    padding: 20px 10%; /* Rembourrage uniforme pour toutes les sections */
    text-align: center; /* Centre le texte et d'autres éléments dans les sections */
}

.photo-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Ce bloc concerne les images qui peuvent être zoomées.*/
/* Chaque propriété CSS est conçue pour améliorer l'interactivité visuelle et la facilité d'utilisation.*/
.zoomable {
    width: 30%; /* Définit la largeur de chaque image pour occuper 30% de la largeur de leur conteneur, permettant à trois images de s'aligner côte à côte. */
    transition: transform 0.3s ease, opacity 0.2s; /* Ajoute une animation douce lors du changement de la transformation et de l'opacité. Transformations en 0.3 secondes, opacité en 0.2 secondes. */
    cursor: pointer; /* Change le curseur en un pointeur pour indiquer que l'élément est cliquable. */
    opacity: 1; /* Définit l'opacité initiale à 100%, rendant l'image complètement opaque. */
}

/* Ce style s'applique lorsque l'utilisateur passe sa souris sur une image,
donnant un effet de zoom immédiat pour une interaction visuelle: hover = flotter */
.zoomable:hover {
    transform: scale(1.35); /* Agrandit l'image de 35% lors du survol de la souris. */
}

/* Ce style s'active lorsque l'utilisateur clique sur une image, permettant un zoom encore plus important. */
.zoomable:active {
    position: relative; /* Assure que l'image cliquée est positionnée relativement à son positionnement normal, nécessaire pour le z-index. */
    z-index: 10; /* Augmente le z-index lors du clic pour s'assurer que l'image est au-dessus des autres éléments. */
    transform: scale(2); /* Double la taille de l'image lorsqu'elle est cliquée. */
}

/* Ce bloc définit le style de l'overlay, qui est un fond semi-transparent qui couvre toute la fenêtre,*/
/* pour mettre en avant l'image zoomée.*/
.zoom-overlay {
    position: fixed; /* Positionne l'overlay de manière fixe par rapport à la fenêtre du navigateur, le rendant indépendant du défilement. */
    top: 0; /* Alignez le haut de l'overlay avec le haut de la fenêtre du navigateur. */
    left: 0; /* Alignez le côté gauche de l'overlay avec le côté gauche de la fenêtre du navigateur. */
    width: 100vw; /* La largeur de l'overlay est de 100% de la largeur de la fenêtre du navigateur. vw = Viewport Width. */
    height: 100vh; /* La hauteur de l'overlay est de 100% de la hauteur de la fenêtre du navigateur. vh = Viewport Height. */
    display: flex; /* Utilise Flexbox pour aligner les éléments à l'intérieur de l'overlay. */
    justify-content: center; /* Centre les éléments horizontalement dans l'overlay. */
    align-items: center; /* Centre les éléments verticalement dans l'overlay. */
    background: rgba(10, 10, 0, 0.8); /* Définit un fond noir semi-transparent (80% d'opacité) pour l'overlay. */
    z-index: 1050; /* S'assure que l'overlay est au-dessus des autres éléments de la page. */
    cursor: pointer; /* Change le curseur en un pointeur pour indiquer que l'overlay est interactif. */
}


/* Styles pour l'image zoomée dans l'overlay */
.zoom-overlay img {
    max-width: 90%; /* Définit la largeur maximale de l'image à 90% de la largeur de l'overlay pour garantir une marge autour de l'image. */
    max-height: 80%; /* Définit la hauteur maximale de l'image à 80% de la hauteur de l'overlay pour garantir une marge autour de l'image. */
    transition: transform 0.3s ease-in-out; /* Ajoute une transition douce pour les transformations de l'image. */
}

/* Ce style est utilisé pour cacher des éléments de manière initiale,
souvent utilisé pour masquer l'overlay jusqu'à ce qu'une image soit cliquée.*/
.hidden {
    display: none; /* Cache les éléments avec la classe 'hidden' en ne les affichant pas. */
}


/* Styles pour le pied de page */
footer {
    text-align: center; /* Centre le contenu du pied de page */
    padding: 20px 0; /* Rembourrage vertical pour le pied de page */
    background: #ddd; /* Couleur de fond pour le pied de page */
}

/* Styles pour les liens des réseaux sociaux dans le pied de page */
.social-links {
    text-align: center; /* Centre les liens sociaux */
    padding: 10px 0; /* Rembourrage vertical pour les liens sociaux */
}

/* Styles pour les liens des réseaux sociaux dans le pied de page */
.social-links a {
    margin: 0 10px; /* Espacement horizontal entre les icônes */
    color: #333; /* Couleur initiale des icônes */
    font-size: 24px; /* Taille des icônes */
    transition: color 0.3s ease; /* Transition de couleur fluide */
}

/* Styles pour les liens des réseaux sociaux au survol et au focus */
.social-links a:hover, .social-links a:focus {
    color: inherit; /* Réinitialisation de la couleur pour prendre la couleur spécifique de l'icône */
}

/* Styles spécifiques pour chaque icône */

/* Instagram */
.social-links a[href="https://www.instagram.com/AlexSouch/"]:hover,
.social-links a[href="https://www.instagram.com/AlexSouch/"]:focus {
    color: #bc2a8d; /* Couleur originale d'Instagram */
}

/* Facebook */
.social-links a[href="https://www.facebook.com/votre_username/"]:hover,
.social-links a[href="https://www.facebook.com/votre_username/"]:focus {
    color: #1877f2; /* Couleur originale de Facebook */
}

/* Email */
.social-links a[href="mailto:alexandre.souchaud91@gmail.com"]:hover,
.social-links a[href="mailto:alexandre.souchaud91@gmail.com"]:focus {
    color: #ea4335; /* Couleur originale de Gmail */
}

/* LinkedIn */
.social-links a[href="https://www.linkedin.com/in/alexandre-souchaud-9a5b2111a/"]:hover,
.social-links a[href="https://www.linkedin.com/in/alexandre-souchaud-9a5b2111a/"]:focus {
    color: #0e76a8; /* Couleur originale de LinkedIn */
}

/* Styles adaptatifs pour les écrans plus petits */
@media (max-width: 768px) {
    .gallery img {
        width: 100%; /* Les images prennent toute la largeur sur petits écrans */
        margin-top: 10px; /* Ajuste la marge supérieure pour les petits écrans */
    }
    header h1 {
        font-size: 24px; /* Réduit la taille de la police du titre pour les petits écrans */
        letter-spacing: 1px; /* Réduit l'espacement des lettres pour les petits écrans */
    }
    nav ul li {
        display: block; /* Affiche les éléments de navigation en bloc sur petits écrans */
        text-align: center; /* Centre le texte de navigation sur petits écrans */
        margin: 10px 0; /* Ajuste les marges verticales pour les petits écrans */
    }
    nav ul li a {
        padding: 10px; /* Augmente le rembourrage pour rendre les liens plus faciles à cliquer sur petits écrans */
    }
}
